.primary{
    background-color: #0d6efd;
}
.secondary{
    background-color: #6c757d;
}
.danger{
    background-color: #dc3545;
}
.warning{
    background-color: #ffc107;
}
.sucess{
    background-color: #198754;
}
.info{
    background-color: #0dcaf0;
}